@font-face {
    font-family: 'newfont';
    src: url('font/BYekan.eot'),
    url('font/BYekan.woff') format('woff'),
    url('font/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow: hidden;
    font-family: 'newfont';
    background-color: #fefefe;

}
p{
    font-family: 'newfont'!important;
}
.svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

svg path {
    transition: .1s;
}

h3 {
    font-weight: 400;
}

header {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 30vw;
    text-align: center;
}

main {
    background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10vh 0 80vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}
main::after {
    border-right: 2px dashed #eee;
    content: '';
    position: absolute;
    top: calc(10vh + 1.618em);
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
}

footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
}

small {
    opacity: .5;
    font-weight: 300;
}
small a {
    color: inherit;
}

main p{
    margin-top: 18px;
    margin-left: 20px;
    font-size: 12px;
    float: left;
    color: black;
    animation: blink 1s linear infinite;
}
.link1{
    position: fixed;
    top: 12px;
    left: 25px;
    z-index: 5;
    transition: all .3s;
}
.link2{
    height: 40px;
    width: 20px;
    position: fixed;
    top: 12px;
    /*right: 12px;*/
    z-index: 5;
    transition: all .3s;
}
#blinkp{
    animation: blink 1s linear infinite;
    padding: 0;
    margin: 0;
    color: white;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}


/*login*/

input[type="text"],
input[type="password"]{
    background:#ecf0f1;
    border:0;
    font-weight:bold;
    padding:10px;
    border-radius:3px;
    width:100%;
    margin:5px 0;
    outline:medium none;
    color:#838383;
    direction: rtl;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7f8c8d;
    opacity: 1; /* Firefox */
    direction: rtl;
    font-family: newfont;
    font-size: 13px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}
.button{
    display:block;
    padding:10px;
    background:#0a84d2;
    border:0;
    border-radius:3px;
    font-weight:bold;
    width:100%;
    color:#fff;
    cursor:pointer;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
    font-family: newfont;
}
.button:hover{
    background: #0a91e4;
}
.main-form{
    width:350px;
    margin: 20px auto;
    padding:50px;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    background:#fff;
}
.logo{
    display: block;
}
.logo img{
    width: 50%;
    height: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}
.main-form > label{
    display:block;
    margin:10px 0 15px;
    line-height:15px;
    cursor:pointer;
}
.main-form > div{
    margin-top:20px;
}
a{
    color:#C4BCB0;
    text-decoration:none;
}
.main-form > a{
    font-size:11px;
    display:block;
    text-align:center;
    margin:10px 0;
}
.main-form > div >a:first-child{
    font-weight:bold;
}
.main-form > div >a:nth-child(2){
    border:1px solid #3DA087;
    display:inline-block;
    border-radius:3px;
    color:#3DA087;
    font-weight:bold;
    padding:7px 15px;
    margin-left:28px;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
}
.main-form > div >a:nth-child(2):hover{
    background:#3DA087;
    color:#fff;
}
.btnok{
    background: #00ACC1 !important;
    font-family: newfont;
}
.btncan{
    background: #E91E63 !important;
    font-family: newfont;
}
.main-form label{
    text-align: right;
    font-size:10px;
    display: block;
    color: #e74c3c;
}

.load-wrapp:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ragradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0,.8));
}


.load-wrapp:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

.load-wrapp {
    width: 100%;
    height: 40px;
    margin: 0 10px 10px 0;
    padding: 220px 20px 20px;
    border-radius: 5px;
    text-align: center;
    /*background: #fffafe;*/
position: fixed;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #f2fffa;
    z-index: 9999999;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282B3;
}

.letter-holder {padding: 16px;}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}
.load-2{
    margin-top: 30px;
}
/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

.load-4 .ring-1 {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-5 .ball-holder {animation: loadingE 1.3s linear infinite;}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}

.load-7 .square {animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-9 .spinner {animation: loadingI 2s linear infinite;}
.load-9 .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.load-9 .bubble-2 {animation-delay: -1.0s;}

.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingA {
0 {height: 15px;}
50% {height: 35px;}
100% {height: 15px;}
}

@keyframes loadingB {
0 {width: 15px;}
50% {width: 35px;}
100% {width: 15px;}
}

@keyframes loadingC {
0 {transform: translate(0,0);}
50% {transform: translate(0,15px);}
100% {transform: translate(0,0);}
}

@keyframes loadingD {
0 {transform: rotate(0deg);}
50% {transform: rotate(180deg);}
100% {transform: rotate(360deg);}
}

@keyframes loadingE {
0 {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
    0%, 100% {transform: scale(0.0);}
    50% {transform: scale(1.0);}
}

@keyframes loadingJ {
    0%,100% {transform: translate(0,0);}

    50% {
        transform: translate(80px,0);
        background-color: #f5634a;
        width: 25px;
    }
}